body {
	background-color: rgb(84, 121, 128);
	font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
	word-wrap: break-word;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li {
	color: #eaf4fc;
	margin: 10px 0;
}

h4 {
	text-align: center;
}

.title {
	margin: 0;
	padding: 2em 2%;
	font-size: calc(5vw + 20px);
	background-image: linear-gradient(0deg, #aacf53bb, #928c3688), url("img/tateshina.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.col1, .col2 {
	margin: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col1:not(.flex), .col2:not(.flex) {
	padding-left: 10px;
}

.col1 {
	background-color: #444;
}

.col2 {
	background-color: #333;
}

.text {
	margin: 0.5ex;
	text-align: center;
}

.brief {
	font-size: 1.3ex;
	margin: 0.5ex;
	text-align: center;
}

.pad4 {}

.pad4>* {
	width: 24vw;
	min-width: 150px;
	flex-grow: 1;
}

.pad4 img {
	width: 20vw;
	min-width: 120px;
}

.pad2>* {
	flex-grow: 1;
	width: 49vw;
	min-width: 300px;
}

.pad2:first-child {
	margin-left: 10px;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a:link, a:visited {
	color: #ccc;
}

a:hover, a:active {
	color: #fff;
}

header a {
	text-decoration: none;
	margin: 0 1%;
}

textarea, input[type="text"] {
	color: #eaf4fc;
	background-color: rgba(84, 121, 128, .5);
	border: 1px solid #eaf4fccc;
}

textarea {
	width: 90%;
	max-width: 100%;
	min-width: 50%;
}

button {
	cursor: pointer;
	background: rgba(84, 121, 128, .8);
	color: #fff;
	border: 1px solid #eaf4fc;
	font-size: 3ex;
	font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
}
