body {
	background-color: rgb(84, 121, 128);
	font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
	word-wrap: break-word;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, table, pre, .col1, .col2 {
	color: #eaf4fc;
}

table {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

img.img {
	width: 100%;
	max-width: 512px;
}

img.img_s {
	width: 100%;
	max-width: 256px;
}

.title {
	margin: 0;
	padding: 2em 2%;
	font-size: calc(5vw + 20px);
	/*background-image: linear-gradient(0deg, #aacf53bb, #928c3688), url("img/tateshina.jpg");
	background-image: linear-gradient(0deg, #83ccd288, #c0c6c944), url("img/winter.jpg");*/
	background-image: linear-gradient(0deg, #f2a0a188, #fdeff244), url("img/spring.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

.text {
	margin: 0.5ex;
	text-align: center;
}

.brief {
	font-size: 1.3ex;
	margin: 0.5ex;
	text-align: center;
}

/*div*/
.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.col1, .col2 {
	margin: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	padding-right: 7px;
}

//.col1:not(.flex), .col2:not(.flex) {}
.col1 {
	background-color: #444;
}

.col2 {
	background-color: #333;
}

.pad4>* {
	width: 24%;
	min-width: 150px;
	flex-grow: 1;
}

.pad4 img {
	width: 20vw;
	min-width: 120px;
}

.pad3>* {
	width: 33%;
	min-width: 80px;
	flex-grow: 1;
}

.pad2>* {
	flex-grow: 1;
	width: 49%;
	min-width: 300px;
}

/*.pad2>*:first-child {
	margin-left: 10px;
}*/
/*header*/
header {
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a:link, a:visited {
	color: #ccc;
}

a:hover, a:active {
	color: #fff;
}

header a, header span {
	text-decoration: none;
	margin: 0 1%;
}

/*others*/
textarea, input[type="text"], input[type="number"] {
	color: #eaf4fc;
	background-color: rgba(84, 121, 128, .3);
	border: 1px solid #eaf4fccc;
	border-radius: 3px;
}

textarea {
	width: 90%;
	max-width: 100%;
	min-width: 50%;
}

button {
	cursor: pointer;
	background: rgba(84, 121, 128, .8);
	color: #fff;
	border: 1px solid #eaf4fc;
	font-size: 3ex;
	font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
}

button:hover {
	background: rgba(81, 214, 211, .5);
}

button:active {
	background: rgba(133, 227, 225, .5);
}

iframe.gl {
	width: 80vw;
	height: calc(calc(80vw*9)/16);
	max-width: 640px;
	max-height: 360px;
	border: 0 solid;
	border-radius: 16px;
	box-shadow: 1px 1px 5px 1px #0008;
}

pre, code, ol.code li {
	font-family: 'menlo', 'M PLUS Rounded 1c', sans-serif;
	font-size: small;
	tab-size: 2;
}

code {
	background-color: #1115;
}

/*https://makotoiwasaki.com/pre-line-number.html*/
pre {
	padding: 0 2em;
	word-wrap: normal;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0px);
	background-color: #1115;
	border-radius: 10px;
}

pre:before {
	content: "01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99";
	width: 20px;
	position: absolute;
	left: 5px;
	overflow: hidden;
	color: rgb(84, 121, 128);
	background-color: #4448;
	word-wrap: break-word;
	white-space: pre-line;
}

/*https://prasm.blog/14859https://prasm.blog/14859*/
ol.code {
	counter-reset: number;
	/* 名前を付けたカウンターをリセット */
	list-style: none;
	/* olが数字を付けることをキャンセル */
	margin: 0;
	padding: 0;
	background-color: #1115;
}

ol.code li {
	margin: 0;
	padding: 0 0 0 2px;
}

ol.code li:nth-child(2n) {
	background-color: #1116;
}

ol.code li:before {
	/* カウンタ（数字になる部分） */
	counter-increment: number;
	/* 任意の名前を付けて！ */
	content: "　"counter(number)"　";
	/* 名前を付けたカウンターを呼び出し */
	/* 色を変えたり、背景画像を敷いたり！自由自在！ */
	margin: 0;
	color: rgb(84, 121, 128);
	background-color: #4448;
}
