body {
	background-color: rgb(84, 121, 128);
	font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
	word-wrap: break-word;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, table {
	color: #eaf4fc;
	margin: 10px 0;
}

.title {
	margin: 0;
	padding: 2em 2%;
	font-size: calc(5vw + 20px);
	background-image: linear-gradient(0deg, #aacf53bb, #928c3688), url("img/tateshina.jpg");
	background-image: linear-gradient(0deg, #83ccd2bb, #c0c6c988), url("img/winter.jpg");
	//background-image: linear-gradient(0deg, #f2a0a1bb, #fdeff288), url("img/spring.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

.text {
	margin: 0.5ex;
	text-align: center;
}

.brief {
	font-size: 1.3ex;
	margin: 0.5ex;
	text-align: center;
}

/*div*/
.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.col1, .col2 {
	margin: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col1:not(.flex), .col2:not(.flex) {
	padding-left: 10px;
}

.col1 {
	background-color: #444;
}

.col2 {
	background-color: #333;
}

.pad4>* {
	width: 24vw;
	min-width: 150px;
	flex-grow: 1;
}

.pad4 img {
	width: 20vw;
	min-width: 120px;
}

.pad3>* {
	width: 33vw;
	min-width: 80px;
	flex-grow: 1;
}

.pad2>* {
	flex-grow: 1;
	width: 49vw;
	min-width: 300px;
}

.pad2>*:first-child {
	margin-left: 10px;
}

/*header*/
header {
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a:link, a:visited {
	color: #ccc;
}

a:hover, a:active {
	color: #fff;
}

header a {
	text-decoration: none;
	margin: 0 1%;
}

/*others*/
textarea, input[type="text"], input[type="number"] {
	color: #eaf4fc;
	background-color: rgba(84, 121, 128, .5);
	border: 1px solid #eaf4fccc;
}

textarea {
	width: 90%;
	max-width: 100%;
	min-width: 50%;
}

button {
	cursor: pointer;
	background: rgba(84, 121, 128, .8);
	color: #fff;
	border: 1px solid #eaf4fc;
	font-size: 3ex;
	font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
}

button:hover {
	background: rgba(81, 214, 211, .5);
}

button:active {
	background: rgba(133, 227, 225, .5)
}

/*https://prasm.blog/14859https://prasm.blog/14859*/
ol.code{
	counter-reset:number; /* 名前を付けたカウンターをリセット */
	list-style:none; /* olが数字を付けることをキャンセル */
	margin:0 10px 0 0;
	padding: 0;
	background-color: #555;
}
ol.code li{
	font-family: "menlo", sans-serif;
	margin: 0;
}
ol.code li:nth-child(2n){background-color: #666;}
ol.code li:before{
	/* カウンタ（数字になる部分） */
	counter-increment: number; /* 任意の名前を付けて！ */
	content: "　"counter(number)"　"; /* 名前を付けたカウンターを呼び出し */
	/* 色を変えたり、背景画像を敷いたり！自由自在！ */
	color:rgb(84, 121, 128);
	background-color: #4448;
}
