body {
	background-color: rgb(84, 121, 128);
	font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, p {
	color: #eaf4fc;
}

.title {
	margin-left: -2%;
	margin-right: -2%;
	padding: 2em;
	font-size: 3em;
	background-image: linear-gradient(0deg, #aacf53bb, #928c3688), url("tateshina.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}
.left{
	display: flex;
	align-items: center;
}
header {
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #fff;
  display: flex;
  justify-content: space-between;
	align-items: center;
}

textarea {
	color: #eaf4fc;
	background-color: #928c36cc;
	border: 1px solid #eaf4fccc;
	//resize: vertical;
	width: 90%;
	max-width: 100%;
	min-width: 50%;
}

button {
	cursor: pointer;
	background: #928c3688;
	color: #fff;
	border: 1px solid #eaf4fc;
}
