/*
 * made by @McbeEringi cc0
 *
 *usage
 * <input type="checkbox" class="toggle" id="id"><label for="id"><div></div></label>
 */
.toggle{display:none;}.toggle+label{display:inline-block;margin:auto 1px;width:50px;height:29px;border-radius:14.5px;background-color:#8888;box-shadow:0 0 4px 0 #0008 inset;transition:.5s;}.toggle+label *{margin:0 auto;position:relative;top:1px;width:27px;height:27px;background-color:#fff;border-radius:50%;box-shadow:0 0 4px 0 #0004;left:-10.5px;transition:.2s;}.toggle:checked+label{background-color:#4f4;}.toggle:checked+label *{left:10.5px;}
