:root{font-family:'M PLUS Rounded 1c',sans-serif;background:#222;color:#fff;text-shadow:0 0 4px #222;}
html,body,#bg{margin:0;height:100%;width:100%;}
#bg{position:fixed;bottom:0;right:0;z-index:-16;}
