img.img{width:100%;max-width:512px;}img.img_s{width:100%;max-width:256px;}
iframe.gl{border:none;border-radius:8px;width:96vmin;height:54vmin;}
code{background-color:#0004;}
/*https://makotoiwasaki.com/pre-line-number.html*/
pre:not(.pre){
	padding:0 2.5em;border-radius:8px;
	position:relative;overflow-x:scroll;overflow-y:hidden;
	line-height:16px;font-size:13px;word-wrap:normal;
	background-image: repeating-linear-gradient(0deg,#1115 0px,#1115 16px,#1117 16px,#1117 32px);
	-webkit-overflow-scrolling:touch;
	-webkit-transform:translateZ(0px);
}
pre:not(.pre):before{
	content:"01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99";
	width:20px;overflow:hidden;border-right:2px solid;
	text-align:center;color:#666;
	position:absolute;left:4px;
	word-wrap:break-word;white-space:pre-line;
}
