.stuff{--size:150px;display:flex;flex-wrap:wrap;}
.stuff>*{margin:var(--border);white-space:pre-wrap;flex:0;}
.stuff>*::before{content:"";display:block;width:var(--size);height:var(--size);border-radius:var(--border);background:no-repeat center/cover var(--img,url(../img/icon_.svg));}
@media(prefers-color-scheme:dark){.stuff>*::before{background-image:var(--imgi,var(--img,url(../img/icon!_.svg)));}}
.stuff>*::after{content:var(--entxt,var(--txt));display:inline-block;width:100%;font-size:small;text-decoration:none;color:var(--fc);}.stuff:lang(ja)>*::after{content:var(--txt);}
.irp{image-rendering:pixelated;}

.carousel{--width:50%;--margin:16px;display:flex;overflow:auto;scroll-snap-type:x mandatory;}
.carousel>*{flex:0 0 auto;object-fit:contain;scroll-snap-align:center;width:var(--width);margin:0 var(--margin);}
.carousel::before,.carousel::after{content:"";display:block;flex-shrink:0;width:calc(calc(50% - var(--margin)) - calc(var(--width)/2));}
@media(max-width:560px){.carousel{--width:100%;--margin:0;}}
