.stuff{--size:150px;}
.stuff>a{display:inline-block;width:var(--size);margin:5px;vertical-align:top;transition:.2s;white-space:pre-wrap;}
.stuff>a::before{content:"";display:block;height:var(--size);border-radius:20%;background:var(--col,#0000) no-repeat center/cover var(--img,url(../img/icon_.svg));}
.stuff>a::after{content:var(--entxt,var(--txt));display:inline-block;width:100%;font-size:small;text-decoration:none;color:var(--fc);}
.stuff:lang(ja)>a::after{content:var(--txt);}
.stuff>a:hover,.stuff>a:focus{transform:scale(1.05);filter:brightness(1.2)saturate(1.2)drop-shadow(0 0 calc(var(--size)/20) var(--l));}

.carousel{--width:50%;--margin:16px;display:flex;box-sizing:border-box;overflow-x:scroll;scroll-snap-type:x mandatory;}
.carousel>*{flex-shrink:0;object-fit:contain;scroll-snap-align:center;width:var(--width);margin:0 var(--margin);}
.carousel::before,.carousel::after{content:"";display:block;flex-shrink:0;width:calc(calc(50% - var(--margin)) - calc(var(--width)/2));}
@media(max-width:560px){.carousel{--width:100%;--margin:0;}}
