/*@font-face{font-family:"tsa";src:url(tsa.woff2);}*/
:root{background-color:#547980;color:#eaf4fc;font-family:'M PLUS Rounded 1c',sans-serif;word-wrap:break-word;image-rendering:pixelated;}
body{margin:0;}a{color:#eaf4fc;transition:.2s;}*:not(a){text-shadow:0 0 4px #000c;}a img{user-select:none;-webkit-user-select:none;}
a:visited{filter:drop-shadow(0 0 4px #84f);}a:visited:hover{color:#caf;filter:drop-shadow(0 0 4px #a8f);}
a:link{filter:drop-shadow(0 0 4px #48f);}a:link:hover{color:#acf;filter:drop-shadow(0 0 2px #8af);}
@media(max-width:512px){li a{display:block;height:24px;padding:12px 0;margin:8px auto;background:#8884;}}

/*header footer*/
lang{display:inline-block;width:16px;height:16px;margin:4px;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='7' cx='8' cy='8' style='fill:transparent;stroke:%23ccc;stroke-width:1'/%3E%3Cellipse cx='8' cy='8' rx='4' ry='7' style='fill:transparent;stroke:%23ccc;stroke-width:1'/%3E%3Cpath d='M8,1 L8,15 M2,4 L14,4 M1,8 L15,8 M2,12 L14,12' style='stroke:%23ccc;stroke-width:1'/%3E%3C/svg%3E");}
lang:hover{filter:brightness(2);}
header{font-family:'Lato';background-color:#444;z-index:10;position:fixed;top:0;left:0;width:100%;height:48px;display:flex;align-items:center;justify-content:space-between;}header a{text-decoration:none;}
header>a{height:48px;display:block;white-space:nowrap;line-height:48px;font-size:130%;font-weight:bold;}header>a::before{content:"";display:inline-block;width:32px;height:32px;margin:8px 2px;background:url("https://mcbeeringi.github.io/img/6x6.png");background-size:100%;vertical-align:bottom;}
footer{text-align:center;padding:1em;}
/*nav*/
#hnavd{margin-right:8px;}#hnavd *{vertical-align:middle;margin:4px;}#hnavmcb{display:none;}
#hnavm{background:#555;display:none;position:absolute;top:48px;right:-100%;opacity:0;transition:.3s;padding:8px 16px;}
#hnavm *{display:block;text-align:center;margin:8px auto;font-size:24px;}
#hnavml{display:none;width:48px;height:48px;transition:.2s;background:#333 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10,14l28,0m-28,10l28,0m-28,10l28,0' stroke='%23fff' stroke-width='1.5px'/%3E%3C/svg%3E");}
@media(max-width:512px){#hnavd{display:none;}#hnavm{display:block;}#hnavml{display:block;}}
#hnavmcb:checked+#hnavm{right:0;opacity:.9;}#hnavmcb:checked+*+#hnavml{background:#555 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8,8L40,40M40,8L8,40' stroke='%23fff' stroke-width='1.5px'/%3E%3C/svg%3E");}
/*title*/
.title{
	margin:0;padding:calc(1.5em + 24px) 0 1.5em;font-size:calc(5vmin + 16px);text-align:center;text-shadow:0 0 8px #444;background-size:cover;background-position:center;
	background-image:linear-gradient(0deg,#aacf53bb,#928c3688),url("../img/tateshina.png");
	/*background-image:linear-gradient(0deg,#83ccd288,#c0c6c944),url("../img/winter.jpg");
	background-image:linear-gradient(0deg,#f2a0a188,#fdeff244),url("../img/spring.jpg");*/
}.title+p{text-align:center;}

/*parts*/
.col1,.col2{overflow-y:hidden;padding:16px 8px;}.col1{background-color:#444;}.col2{background-color:#333;}
.stuff{}@media(max-width:600px){.stuff{text-align:center;}}
.pad{display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap;}
.stuff>*{display:inline-block;width:172px;padding:4px;margin:6px;vertical-align:top;font-size:80%;}
.pad>*{text-align:center;width:0;margin:8px;flex-grow:1;min-width:128px;font-size:80%;}
.stuff a,.pad a{transition:.2s;font-size:120%;}.stuff a{display:block;}.pad a{display:inline-block;}.stuff a:hover,.pad a:hover{transform:scale(1.02);background:#fff1;}
.stuff img,.pad img{width:100%;max-width:160px;border-radius:16px;}.stuff img,.pad.l img{max-width:192px;}

/*form*/
textarea{width:90%;max-width:100%;min-width:50%;}
textarea,input[type="text"],input[type="number"]{color:#eaf4fc;background-color:rgba(84,121,128,.2);border:none;border-radius:0;border-bottom:2px solid #eaf4fccc;font-size:13px;}
textarea::placeholder,input[type="text"]::placeholder,input[type="number"]::placeholder{color:#eaf4fc88;}
textarea:focus,input[type="text"]:focus,input[type="number"]:focus{outline:none;border-bottom:2px solid #48f;transition:.3s;}
button,.button{display:inline-block;vertical-align:bottom;outline:none;cursor:pointer;background:#666;color:#fff;border:none;border-bottom:4px solid #555;border-radius:4px;font-size:20px;font-family:'M PLUS Rounded 1c',sans-serif;}
button:hover,.button:hover{background:#48f;border-bottom-color:#777;}button:active,.button:active{background:#222;border-bottom:2px solid #0000;border-top:2px solid #0000;}

/*others*/
table{display:block;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;}
pre,code{font-family:'menlo','M PLUS Rounded 1c',sans-serif;font-size:small;tab-size:2;}
code{background-color:#1115;}
/*https://makotoiwasaki.com/pre-line-number.html*/
pre:not(.pre){
	padding:0 2.5em;border-radius:8px;
	position:relative;overflow-x:scroll;overflow-y:hidden;
	line-height:16px;font-size:13px;word-wrap:normal;
	background-image: repeating-linear-gradient(0deg,#1115 0px,#1115 16px,#1117 16px,#1117 32px);
	-webkit-overflow-scrolling:touch;
	-webkit-transform:translateZ(0px);
}
pre:not(.pre):before{
	content:"01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99";
	width:20px;overflow:hidden;border-right:2px solid;
	text-align:center;color:#666;
	position:absolute;left:4px;
	word-wrap:break-word;white-space:pre-line;
}
