/*
 *  Designed by @McbeEringi cc0
 *  usage: <input type="checkbox" class="toggle" style="--size:<length(height)>;">
 */
 input[type=checkbox].toggle{--size:24px;appearance:none;-webkit-appearance:none;outline:none;display:inline-block;width:calc(var(--size)*1.62);height:var(--size);border-radius:calc(var(--size)*0.5);position:relative;vertical-align:middle;background-color:#666;transition:.1s;}
 input[type=checkbox].toggle::before{content:"";display:block;width:var(--size);height:var(--size);border-radius:50%;position:absolute;top:0;left:0;transform:scale(.85);background-color:#fff;transition:.1s;}
 input[type=checkbox]:checked.toggle{background-color:#6f6;}
 input[type=checkbox]:checked.toggle::before{left:calc(var(--size)*0.62);}
